<p style="color: green"><%= notice %></p>

<%= render @word_group %>

<div>
  <%= link_to "Edit this word group", edit_word_group_path(@word_group) %> |
  <%= link_to "Back to word groups", word_groups_path %>

  <%= button_to "Destroy this word group", @word_group, method: :delete %>
</div>
