<div class="gallery-image-form-group">
  <%= form_with model: @gallery, url: generate_image_gallery_path(@gallery), method: :post do |form| %>
    <div class="btn-group-vertical float-start img-type-btn-group" role="group" aria-label="Vertical button group">
      <%= form_links form, @gallery.image_types %>
    </div>
    <%= form.label "Prompt for image:"  %>
    <%= form.text_field :image_prompt, class: "form-control inline" %>
    <%= form.submit "Create", class: 'btn btn-outline-light' %>
  <% end %>
</div>
