<div data-controller="select_words">
  <%= simple_form_for :group, url: "/groups/#{group.id}/select_words", method: :post do |form| %>
    <div class="d-grid gap-2">
      <%= form.submit "SAVE", id: "save-btn", class: "btn btn-success btn-lg" %>
    </div>
    <div class="word-wrapper">
      <% words.each do |word| -%>
        <div class="word-container">
          <%= check_box_tag :word_ids, word.id, group.words.include?(word), :name => 'group[word_ids][]' -%>
          <%= label_tag :word_ids, word.name -%>
          <%= word_image_link(word) %>
        </div>
      <% end -%>
    </div>
  <% end %>
</div>
