<div id="<%= dom_id word %>">
  <h2>
    <%= word.name %> <%= favorite_star(word) %>
  </h2>
  <%= image_link(word) %>
  <p>
    <strong>Favorite:</strong>
    <%= word.favorite %>
  </p>
  <p>
    <strong>Group:</strong>
    <%= word.group.name %>
  </p>
</div>
