<div>
  <%= link_to "Edit this word", edit_word_path(@word) %> |
  <%= link_to "Back to words", words_path %>
  <%= button_to "Destroy this word", @word, method: :delete %>
</div>
<div class="row">
  <div id="<%= dom_id @word %>">
    <h2>
      <%= @word.name %> <%= favorite_star(@word) %>
    </h2>
    <%= image_link(@word) %>
    <p>
      <strong>category:</strong>
      <%= @word.category.name %>
    </p>
  </div>
</div>
