<div class="post-form" data-controller='dynamic-select'>
  <%= form_with(model: post) do |form| %>
    <% if post.errors.any? %>
      <%= render 'errors', post: post %>
    <% end %>
    <div class='form-group'>
      <%= form.select :response_type,
        options_for_select(Post.response_type_select, selected: form.object.display_response_type),
        {},
        'data-dynamic-select-target': 'select',
        'data-action': 'dynamic-select#selected', class: "form-control" %>
    </div>
    <div class='form-group'>
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
      <div class='form-group'>
        <%= form.label :send_request_on_save %>
        <%= form.check_box :send_request_on_save %>
      </div>
    </div>
    <div class="row" data-dynamic-select-target='doc'>
      <div class="doc-form">
        <%= form.fields_for :docs do |doc| %>
          <%= doc.label :name %>
          <%= doc.text_field :name, class: "form-control" %>
          <%= doc.label :main_image %>
          <%= doc.file_field :main_image, class: "form-control" %>
        <% end %>
      </div>
    </div>
    <div class="row" data-dynamic-select-target='chat'>
      <div class="message-form">
        <%= form.fields_for :messages do |message| %>
          <%= message.label :role %>
          <%= message.text_field :role, class: "form-control" %>
          <%= message.label :content %>
          <%= message.text_field :content, class: "form-control" %>
          <hr/>
        <% end %>
      </div>
    </div>
    <div class="row">
      <%= button_tag "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
