<p style="color: green"><%= notice %></p>
<h1>Posts</h1>
<div class="row">
  <div class="col-md-3" id="image-posts">
    <% @posts.images.each do |post| %>
      <div class="post">
        <p class="">
          <%= link_to post.name&.titleize || 'View Post', post %>
        </p>
        <p class="small"><%=post.response_type %></p>
      </div>
    <% end %>
  </div>
  <div class="col-md-3" id="image-posts">
    <% @posts.chat.each do |post| %>
      <div class="post">
        <p class="">
          <%= link_to post.name&.titleize || 'View Post', post %>
        </p>
        <p class="small"><%=post.response_type %></p>
      </div>
    <% end %>
  </div>
  <div class="col-md-3" id="text-posts">
    <% @posts.text.each do |post| %>
      <div class="post">
        <p class="">
          <%= link_to post.name&.titleize || 'View Post', post %>
        </p>
        <p class="small"><%=post.response_type %></p>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "New post", new_post_path %>
