<div class="button-box">
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
<h1><%= @post.name %></h1>
<p class="lead"><%= @post.response_type %>
  <div class="post-body clearfix">
    <%= @post.content %>
  </div>
  <% if @post.chat? %>
    <div class="row">
      <div class="col-md-3 message-outer-form">
        <h3>New Message</h3>
        <%= render 'message_form', post: @post %>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <h3>Messages : <%= @post.messages.count %></h3>
        <% @post.messages.each do |message| %>
          <%= render message if message.id %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <% if @post.docs.any? %>
      <div class="post-body clearfix">
        <h3>Documents : <%= @post.docs.count %></h3>
        <% @post.docs.each do |doc| %>
          <%= render doc %>
        <% end %>
      </div>
    <% end %>
  </div>
