
<%= simple_form_for(@gallery) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :name %>
    <%= f.input :state %>
    <%= f.input :image_prompt %>
    <%= f.input :send_request_on_save %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
