<div id="<%= dom_id gallery %>">
  <p>
    <strong>User:</strong>
    <%= gallery.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= gallery.name %>
  </p>

  <p>
    <strong>State:</strong>
    <%= gallery.state %>
  </p>

  <p>
    <strong>Image prompt:</strong>
    <%= gallery.image_prompt %>
  </p>

  <p>
    <strong>Send request on save:</strong>
    <%= gallery.send_request_on_save %>
  </p>

</div>
